<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Font Awesome y Boostrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
    <!-- Datatables -->
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.5.0/css/select.dataTables.min.css"> -->




    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">

    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css"> -->




    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.1.0/dist/css/bootstrap.min.css">

    <!-- Bootstrap JS and dependencies -->
    <script src="https://unpkg.com/@popperjs/core@2.10.3/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>


    <!-- CSS de DataTables y del plugin "Responsive" -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap5.min.css">

    <title>RES</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Mi Sitio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Mantenimientos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/mantenimientoCategoria">Categoría</a></li>
                            <li><a class="dropdown-item" href="/mantenimientoEmpleado">Empleado</a></li>
                            <li><a class="dropdown-item" href="/mantenimientoPlatos">Platos</a></li>
                            <li><a class="dropdown-item" href="/mantenimientoIngredientes">Ingredientes</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ordenar">Ordenar</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nombre del Usuario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <div class="container-fluid p-5 ">
        <div class="col-md-12 shadow-lg p-2 mb-5 bg-light rounded ">
            <h1 class="text-center">Ordenar</h1>
            <hr>

            <div class="row">
                <div class="col-md-3 mb-2">
                    <label for="cliente" class="form-label">Cliente</label>
                    <select class="form-select" id="cliente" name="cliente">
                        <% for (let i=0; i < clientes.length; i++) { %>
                            <option value="<%= clientes[i].ID %>">
                                <%= clientes[i].Nombre %>
                            </option>
                            <% } %>
                    </select>
                </div>

                <div class="col-md-3 mb-2">
                    <label for="necesidad" class="form-label">Necedidad</label>
                    <select class="form-select" id="necesidad" name="necesidad">
                        <% for (let i=0; i < necesidad.length; i++) { %>
                            <option value="<%= necesidad[i].ID %>">
                                <%= necesidad[i].Descripcion %>
                            </option>
                            <% } %>
                    </select>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3 mb-2">
                    <label for="plato" class="form-label">Plato</label>
                    <select class="form-select" id="select1" name="select1">
                        <% for (let i=0; i < results.length; i++) { %>
                            <option value="<%= results[i].Nombre + ',' + results[i].Precio + ',' + results[i].ID %>">
                                <%= results[i].Nombre %>
                            </option>
                            <% } %>
                    </select>
                </div>
                <div class="col-md-3 mb-2">
                    <label for="Cantidad" class="form-label">Cantidad</label>
                    <input type="number" class="form-control" id="input1" name="input" min="1"
                        placeholder="Ingrese cantidad">
                </div>
            </div>

            <div class="col-md-3 mb-2">

                <button class="btn btn-primary" type="button" id="button1">Agregar</button>
            </div>


            <div class="table-responsive table-responsive-sm">
                <table id="tablaUser" class="table table-striped table-bordered table-hover ">
                    <thead>
                        <tr class="bg-primary text-white">
                            <th scope="col">ID</th>
                            <th scope="col">NOMBRE</th>
                            <th scope="col">CANTIDAD</th>
                            <th scope="col">PRECIO</th>
                            <th scope="col">TOTAL</th>
                            <th scope="col">OPCIONES</th>


                        </tr>
                    </thead>
                    <tbody id="table-body">

                    </tbody>

                </table>

                <label for="total">Total:</label>
                <input id="total" name="total" value="0">

                <hr>

                <label for="total">Recomendaciones</label>
                <table id="tablaRecomendacion" class="table table-striped table-bordered table-hover ">
                    <thead>
                        <tr class="bg-primary text-white">
                            <th scope="col">NOMBRE</th>


                        </tr>
                    </thead>
                    <tbody id="table-bodyrecomendacion">

                    </tbody>

                </table>

                <button class="btn btn-primary" type="button" id="buttonRecomendacion"
                    onclick="buscarRecomendacion()">Buscar</button>




                <hr>
                <button class="btn btn-primary" type="button" onclick="registrarPedido()">Guardar</button>

                <a href="/ordenar" class="btn btn-secondary">Cancelar</a>

            </div>
        </div>



    </div>






    <!-- JavaScript de jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- JavaScript de DataTables y del plugin "Responsive" -->

    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap5.min.js"></script>


    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>

    <script>

        const tableBody = document.getElementById("table-body");
        const select1 = document.getElementById("select1");
        const input1 = document.getElementById("input1");
        const button1 = document.getElementById("button1");


        // const selectElement = document.getElementById("select1");
        // const selectedOptionValue = selectElement.value;
        // const [selectedOptionName, selectedOptionPrice] = selectedOptionValue.split(",");
        // console.log("Nombre seleccionado:", selectedOptionName);
        // console.log("Precio seleccionado:", selectedOptionPrice);

        //Convertir el precio a float
        const PrecioTexto = input1.value;
        const PrecioFloat = parseFloat(PrecioTexto);

        //Convertir la cantidad a float 
        const CantidadTexto = input1.value;
        const CantidadFloat = parseFloat(CantidadTexto);

        //
        // const PrecioTexto = input1.value;
        // const PrecioFloat = parseFloat(PrecioTexto);

        //Calcular el total
        // const totals = PrecioFloat * selectedOptionPrice;

        button1.addEventListener("click", agregarFila);

        function agregarFila() {

            const selectElement = document.getElementById("select1");
            const selectedOptionValue = selectElement.value;
            const [selectedOptionName, selectedOptionPrice, selectedOptionId] = selectedOptionValue.split(",");
            console.log("ID seleccionado:", selectedOptionId);
            console.log("Nombre seleccionado:", selectedOptionName);
            console.log("Precio seleccionado:", selectedOptionPrice);


            //Convertir el precio a float
            const PrecioFloat = parseFloat(selectedOptionPrice);

            //Convertir la cantidad a float
            const CantidadFloat = parseFloat(input1.value);

            //Calcular el total
            const totals = PrecioFloat * CantidadFloat;



            const fila = document.createElement("tr");

            const id = document.createElement("td");
            id.innerHTML = selectedOptionId;

            const nombre = document.createElement("td");
            nombre.innerHTML = selectedOptionName;

            const cantidad = document.createElement("td");
            cantidad.innerHTML = input1.value;

            const precio = document.createElement("td");
            precio.innerHTML = selectedOptionPrice;

            const total = document.createElement("td");
            total.innerHTML = totals;



            const acciones = document.createElement("td");

            const botonEliminar = document.createElement("button");

            botonEliminar.innerText = "Eliminar";
            botonEliminar.addEventListener("click", function () {
                fila.remove();
                sumarFila();
            });

            acciones.appendChild(botonEliminar);

            fila.appendChild(id);
            fila.appendChild(nombre);
            fila.appendChild(cantidad);
            fila.appendChild(precio);
            fila.appendChild(total);
            fila.appendChild(acciones);

            tableBody.appendChild(fila);

            // Limpiar los campos después de agregar una fila
            input1.value = "";
            sumarFila();
        }

        function sumarFila() {
            const table = document.querySelector("table");
            let total = 0;

            for (let i = 1; i < table.rows.length; i++) {
                const row = table.rows[i];
                const cell = row.cells[4];
                const value = parseFloat(cell.textContent);
                total += value;
            }

            const totalInput = document.getElementById("total");
            totalInput.value = total.toFixed(2);
            console.log("Total:", total);
        }


        ///PRUEBA

        async function registrarPedido() {

            const totalPlato = document.getElementById("total").value;
            const idCliente = document.getElementById("cliente").value;



            // Obtener los detalle del pedido de la tablay agregarlos a un arreglo
            const detalles = [];
            const filas = document.querySelectorAll("#table-body tr");

            // console.log(filas);

            filas.forEach((fila) => {
                const celdas = fila.querySelectorAll("td");

                const detalle = {
                    productoID: celdas[0].innerHTML,
                    cantidad: celdas[2].innerHTML,
                    //precio: celdas[3].innerHTML,
                    total: celdas[4].innerHTML,
                };
                detalles.push(detalle);
            });
            try {
                const response = await fetch("http://localhost:5000/savePedido", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        totalPlato: totalPlato,
                        idCliente: idCliente,
                        detalles: detalles,
                    }),
                });

                if (!response.ok) {
                    throw new Error("Error al registrar al registrar pedido.");
                }
                alert("iNSERTADO CORRECTAMENTE");
                window.location.href = "/ordenar";


            } catch (error) {
                console.error(error);
                alert("Error al registrar el plato.");
            }





        }

        /// prueba 

        // const buttonRecomendacion = document.getElementById("buttonRecomendacion");
        // buttonRecomendacion.addEventListener("click", buscarRecomendacion);

        function buscarRecomendacion() {
            const idCliente = document.getElementById("cliente").value;
            const idNecesidad = document.getElementById("necesidad").value;

            fetch('http://localhost:5000/recomendacion', {
                method: 'GET',
                headers: {
                    'id_cliente': idCliente,
                    'id_necesidad': idNecesidad,
                },

            })
                .then(response => response.json())
                .then(data => {
                    const tableBody = document.getElementById("table-bodyrecomendacion");
                    let aux = [];


                    for (i = 0; i < data.length; i++) {
                        if (data[i] == undefined) { } else {
                            for (j = 0; j < data[i].length; j++) {
                                if (data[i][j] == undefined) { } else {
                                    for (k = 0; k < data[j].length; k++) {
                                        if (data[i][j][k] == undefined) { } else {
                                            
                                            if(!aux.some(e => e.ID === data[i][j][k].ID)){
                                                aux.push(data[i][j][k]);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    console.log(aux);
                    aux.forEach(element => {
                        const fila = document.createElement("tr");
                        const nombre = document.createElement("td");
                        nombre.innerHTML = element.Nombre;
                        fila.appendChild(nombre);
                        tableBody.appendChild(fila);
                    });








                })
                .catch(error => console.error(error));

            limpiarTabla();
        }

        function limpiarTabla() {
            const tableBody = document.getElementById("table-bodyrecomendacion");
            tableBody.innerHTML = "";
        }

    </script>





</body>

</html>